<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - oc_toolbox_service</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/oc_toolbox_service.styles.css" asp-append-version="true" />
</head>

<body>
    <table style="width: 50%; margin-left: 25%; margin-top: 80px" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center"
                style="font-size: 16px; font-weight: bold; color: #e51937; border-bottom: 1px solid #cccccc">
                OC-TOOLBOX APP SERVICE
            </td>
        </tr>
        <tr>
            <td style="padding-top: 20px; padding-bottom: 20px">
                <main role="main" class="pb-3">@RenderBody()</main>
            </td>
        </tr>
        <tr>
            <td align="center"
                style="font-size: 16px; font-weight: bold; color: #e51937; border-top: 1px solid #cccccc">
                &copy; ORKIN CANADA 2024
            </td>
        </tr>
    </table>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>